body{
   background-color: rgba(180, 195, 180, 0.867);
   color: aliceblue;
   font-family:Arial, Helvetica, sans-serif;
   margin: 0px;

}
.flex{
    display: flex;
    
}
.flex img{
 
    width: 400px;
    height: 250px;
    justify-content: first baseline;
    position: relative;
    
}
.flex p{
    position: absolute;
    top: 200px;
    left:6px;
   
}
.Business{
    background-color: white;
    color: black;
}

.branca{
    background-color: white;
    color: black;
    justify-content: space-between;
    border: 5px;

}
#informacoes a{
    color: rgb(45, 116, 92);
}
#localizacao{
    color:rgb(45, 116, 92);

}
.catalogo{
    background-color: white;
}
.catalogo h3{
    color: rgb(45, 116, 92);
    
}
#flex{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#flex img{
    width: 90px;
    height: 90px;

}

